<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include hero.html %}
    {% include intro.html %}
    {% include features.html %}
    {% include features-extras.html %}
    {% include herostrip.html %}
    <!--{% include main-intro.html %}-->
    <!--{% include main-text.html %}-->
    <!--{% include slider.html %}-->
    <!--{% include form.html %}-->
    {% include to-top.html %}
    {% include footer2.html %}


    <!--<div class="page-content">-->
      <!--<div class="wrapper">-->
        <!--{{ content }}-->
      <!--</div>-->
    <!--</div>-->

  <!--  {% include footer.html %} -->
    {% include scripts.html %}

  </body>

</html>
