<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="#why-hire-me">Why hire me?</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#tools">Tools and Frameworks</a></li>
                    </ul>
                </div>
            </div>
            <div class="social-share">
                <a class="phone" href="+1-416-302-2268">416.302.2268</a>
                <a href="mailto:tandysean@gmail.com"><i class="fa fa-envelope"></i> tandysean@gmail.com</a>
                <a href="https://twitter.com/tandysean"><i class="fa fa-twitter"></i> @tandysean</a>
                <a href="https://github.com/tandysean"><i class="fa fa-git"></i> tandysean</a>
            </div>
        </div>
    </div>
</footer>