<section class="sign-up section-padding text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>Get started with Sedna, absolutely free</h3>
                <p>Grab your copy today, exclusively from Codrops</p>
                <form class="signup-form" action="#" method="POST" role="form">
                    <div class="form-input-group">
                        <i class="fa fa-envelope"></i><input type="text" class="" placeholder="Enter your email" required>
                    </div>
                    <div class="form-input-group">
                        <i class="fa fa-lock"></i><input type="text" class="" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn-fill sign-up-btn">Sign up for free</button>x
                </form>
            </div>
        </div>
    </div>
</section>