<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="#">
                       <span class="top-line">Sean Arnold</span>
                        <span class="bottom-line">Front-End &amp; JavaScript Developer</span>
                    </a>
                </div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                            <li><a href="#why-hire-me">Why hire me?</a></li>
                            <li><a href="#skills">Skills</a></li>
                            <li><a href="#tools">Tools and Frameworks</a></li>
                            <!--<li><a href="#blog">Blog</a></li> -->
                            <li><a href="#footer">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>I'm Sean and I write <span>&#60;code &#47;&#62;</span></h1>
                    <p class="intro">Experienced Full Stack JS and Front End Developer <br />with a background in design, UX and IA.</p>
                    <a href="https://www.dropbox.com/s/28tgqhueuq202iz/Sean_Arnold_CV.pdf?dl=0" class="btn btn-accent btn-large">Download my CV</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>