<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>
                Gotta keep learning...
            </h2>
            <p>I keep on top of new tools, spend most of my free time learning and experiementing with web teachnologies. I am very interested in networking and experiment with arduinos and raspberry pies too. I try to go to meetups, read JavaScript weekly, have been working with ELM and Functional Reactive Programming and adore Ruby.</p>
        </div>
    </div>
</section>