<section class="intro section-padding" id="why-hire-me">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Web Development</h5>
                    <p>I work with different platforms and stacks. Professionally, I have worked mostly in .NET environments as a Front End/UI Developer. I love JavaScript, NodeJS and Angular. I also really dig Ruby, RoR and RESTful API's. I like to write clean, clear, maintainable code.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Design & IA</h5>
                    <p>Earlier in my career, I worked as a designer and IA. I understand user experience and interaction design. I enjoy using this knowledge to create better UI's, and to build a better product. Shared language with designers allows me to communicate with them clearly and get the design &mdash;near&mdash; pixel perfect.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe046;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Collaboration</h5>
                    <p>I enjoy collaborating on projects and working on Agile teams. I am mostly experienced with Scrum and Kanban or a varying mix of the two diluted with a steady stream of waterfall.</p>
                </div>
            </div>
        </div>
</section>