<section class="blog text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="../assets/images/blog-img-01.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="../assets/images/blog-img-01.jpg" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top" data-original-title="See more posts">Product</a></h2>
                            <p><a href="#" class="blog-post-title">Getting started with Sedna <i class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="../assets/images/blog-img-02.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="../assets/images/blog-img-02.jpg" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top" data-original-title="See more posts">Technology</a></h2>
                            <p><a href="#" class="blog-post-title">Why IE8 support is deminishing <i class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-md-4">
                <article class="blog-post">
                    <figure>
                        <a href="../assets/images/blog-img-03.jpg" class="single_image">
                            <div class="blog-img-wrap">
                                <div class="overlay">
                                    <i class="fa fa-search"></i>
                                </div>
                                <img src="../assets/images/blog-img-03.jpg" class="single_image" alt="Sedna blog image"/>
                            </div>
                        </a>
                        <figcaption>
                            <h2><a href="#" class="blog-category" data-toggle="tooltip" data-placement="top" data-original-title="See more posts">Product</a></h2>
                            <p><a href="#" class="blog-post-title">Sedna tutorial: How to begin your <i class="fa fa-angle-right"></i></a></p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <a href="#" class="btn btn-ghost btn-accent btn-small">More news</a>
        </div>
    </div>
</section>