<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{{ 'assets/js/application.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/bootstrap.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/classie.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.fancybox.pack.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.flexslider-min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.waypoints.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.retina.js' | prepend: site.baseurl }}"></script>


<script src="{{ '/assets/js/scripts.js' | prepend: site.baseurl }}"></script>