<section class="testimonial-slider section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="avatar"><img src="img/avatar.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"Lorem ipsum dolor sit amet, nullam lucia nisi."</h2>
                            <p class="author">Peter Finlan, Product Designer.</p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/mani.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"Nunc vel maximus purus. Nullam ac urna ornare."</h2>
                            <p class="author">Manoela Ilic, Founder @ Codrops.</p>
                        </li>
                        <li>
                            <div class="avatar"><img src="img/130.jpg" alt="Sedna Testimonial Avatar"></div>
                            <h2>"Nullam ac urna ornare, ultrices nisl ut, lacinia nisi."</h2>
                            <p class="author">Blaz Robar, Pixel Guru</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>