// Typography partial

@import "colors";
@import "breakpoints";

// Fonts

$sans-serif: 'Open Sans', sans-serif;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$accent-font: 'Nunito', sans-serif;
$code-font: 'Fira Mono', sans-serif;

// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

h1 {
	font-size: 6.0rem;

	@include smallBreakpoint {
		font-size: 3.0rem;
	}
}

// // Sizes
//
//
// $font-size-h1:6.0rem;
// $font-size-h2:4.0rem;
// $font-size-h3:2.4rem;
// $font-size-h4:1.8rem;
// $font-size-h5:1.5rem;
// $font-size-p: 1.5rem;
// $nav-font-size: 1.3rem;
// $blog-post-title: 1.1rem;
//
// // Responsive Sizes
//
// $responsive-h1:4.0rem;
//
// // Line height
//
// $base-line-height: 29px;

// Styles

/* ==========================================================================
Typography
// ========================================================================== */
// p {
// 	font-size: $font-size-p;
// 	line-height: $base-line-height;
// 	color: $txt-primary;
// 	padding-bottom: 20px;
// }
// h1 {
// 	font-size: $font-size-h1;
//
// 	@include smallBreakpoint {
// 	}
// }
// h2 {
// 	font-size: $font-size-h2;
// 	font-weight: $light;
// 	color: $h2-color;
// }
// h3 {
// 	font-size: $font-size-h3;
// 	margin-bottom: 20px;
// 	color: $h3-color;
// }
// h4 {
// 	font-size: $font-size-h4;
// }
// h5 {
// 	font-size: $font-size-h5;
// 	color: $h5-color;
// 	text-transform: uppercase;
// 	font-weight: $semibold;
// }
